/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
  }
  
  .nav-button {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .nav-button:hover {
    color: #ddd;
  }